<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="zitoune">
    <meta name="description" content="Page de recherche...">

	<title>www.zitoune.anticip.free.fr -> Index</title>

	<link rel="icon" type="image/png" href="{{ .Site.BaseURL}}/img/terminal-icon.png">


	<link rel="stylesheet" href="{{ .Site.BaseURL}}/css/syntax.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL}}/css/all.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL}}/css/jquery.terminal.min.css">

    
    <link rel="stylesheet" href="{{ .Site.BaseURL}}/scss/main.min.css">
</head>