<nav class="navbar navbar-expand-sm bg-transparent" id="main-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active text-center">
                <a href="{{ .Site.BaseURL}}index.html" class="nav-link">Home</a>
            </li>
            <span class="d-none d-sm-block">&nbsp;|&nbsp;</span>
            <li class="nav-item  text-center">
                <a href="taxonomies\index.html" class="nav-link">Taxonomies</a>
            </li>
            <span class="d-none d-sm-block">&nbsp;|&nbsp;</span>
            <li class="nav-item text-center">
                <a href="search.html" class="nav-link">Search</a>
            </li>
            <span class="d-none d-sm-block">&nbsp;|&nbsp;</span>
            <li class="nav-item  text-center">
                <a href="about\index.html" class="nav-link">About</a>
            </li>
        </ul>
    </div>
</nav>
